server:
  http:
    addr: 0.0.0.0:8000
    timeout: 1s
  grpc:
    addr: 0.0.0.0:9000
    timeout: 1s
data:
  database:
    driver: mysql
    source: root:123456@tcp(127.0.0.1:3306)/test
  redis:
    addr: root:123456@127.0.0.1:6379/0
    db: 0
    read_timeout: 0.2s
    write_timeout: 0.2s

casbin:
  gorm:
    prefix: casbin_
    table: auth_rule
